<!-- moveing-text-area-start -->
<section class="moveing-text-area">
    <div class="container">
      <div class="ovic-running">
        <div class="wrap">
          <div class="inner">
            <p class="item">Travel the world with English</p>
            <p class="item">
               Ingliz tili bilan dunyoni kez!
            </p>
            <p class="item">
                Путешествуйте по миру с английским
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- moveing-text-area-end -->