{% extends 'base.html' %}
{% load static %}

{% block title %}{{ manager.full_name }}{% endblock title %}

{% block content %}
    <br/>
    <a class="btn btn-info" href="{% url 'manager' manager_pk=manager.pk %}" role="button">Kabinetga qaytish</a>
    {% if report.is_verifyed %}
        <b>Report status: Confirmed</b>
    {% else %}
        <b>Report status: Unconfirmed</b>
        <a class="btn btn-primary" href="{% url 'manager_report_confirm' manager_pk=manager.pk report_pk=report.pk %}" role="button">Hisobotni maqullash</a>
        <a class="btn btn-danger" href="{% url 'manager_report_delete' manager_pk=manager.pk report_pk=report.pk %}" role="button">Hisobotni rad etish(uchirish)</a>
    {% endif %}
    <hr>
        {{ report.created_at }}
                <h5 style="color: darkgreen">Kimdan: {{ report.user.full_name }} </h5>
    count: <b>{{ report.count }}</b> |  book: <b>{{ report.book }}</b> | From lesson: {{ report.from_lesson }} | To lesson: {{ report.to_lesson }} | similarity: <b>{{ report.similarity }} %</b>
     <br><b>Comment:</b> {{ report.comment }}

        <hr><center><h3>Report words : {{ reportitems.count }}</h3></center> <br>


        <ul>
    {% for item in reportitems %}
    <p>
        <b>{{ item.word }}</b> ---  {{ item.word_translation }}
    </p>
{#        <hr>#}
    {% endfor %}
    </ul>

    <br>



{% endblock content %}