{% extends 'base.html' %}
{% load static %}

{% block title %}{{ manager.full_name }}{% endblock title %}

{% block content %}
    <br/>
            <h3><center> Tasdiqlanishi kutilayotgan hisobotlar: </center></h3>
    <hr>
    {% if reports %}
    {% else %}
        Tasdiqlanishi kutilayotgan hisobotlar yuq
    {% endif %}

    <div class="radio-inline" style="background-color: #b9b9b9">
        {% for report in reports %}
            <a href="{% url 'manager_report_detail' manager_pk=manager.pk report_pk=report.pk  %}" style="color: #04414d">{{ report.created_at }}</a>
                <h5 style="color: darkgreen">Kimdan: {{ report.user.full_name }} </h5>
            <hr>
        {% endfor %}
    </div>
    <hr>

        {% if manager.image %}
            <a href="{% url 'manager_profile' manager_pk=manager.pk %}">
        <img class="rounded-circle" src="{{ manager.image.url }}" alt="" width="240" height="240"  /> </a>
        {% else %}
            <a href="{% url 'manager_profile' manager_pk=manager.pk %}">
        <img class="rounded-circle" src="{% static 'default.png' %}" alt="" width="240" height="240"  />  </a>
        {% endif %}
        <b>{{ manager.full_name }}</b>
    <hr>
    {% if manager.bio %}
        (Shioringiz): <h3>{{ manager.bio }} </h3>
    {% endif %}
    <hr>

    <br>
    <br>
    <br>
{#    <a class="btn btn-primary" href="" role="button">Hisobotlar / qo`shish</a>#}
    <a class="btn btn-danger" href="{% url 'manager_task' manager_pk=manager.pk %}" role="button">Buyruqlar</a>
    <a class="btn btn-warning" href="{% url 'manager_reachment' manager_pk=manager.pk  %}" role="button">Erishilgan natijalar / joylash</a>
        <a class="btn btn-dark" href="{% url 'manager_chat' person_pk=manager.pk %}" role="button">Chatga o`tish</a>

        <hr>

    <h5>
    {% for student in students %}
{#    <li>#}
    <div class="jumbotron" style="background-color:darkseagreen">
        {% if student.image %}
        <img class="rounded-circle" src="{{ student.image.url }}" alt="" width="150" height="150"  />
        {% else %}
        <img class="rounded-circle" src="{% static 'default.png' %}" alt="" width="150" height="150"  />
        {% endif %}
        <a href="{% url 'manager_student_report' manager_pk=manager.pk student_pk=student.pk  %}">  {{ student.full_name }} </a>
    </div>
{#    </li>#}
    {% endfor %}
    </h5>

{% endblock content %}