{% extends 'base.html' %}
{% load static %}

{% block title %}Role{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h5 class="display-4">Rollni tanlang</h5>
        <hr class="my-4">
        <p>Sizda shu yerda ko’rsatilgan barcha rollarga kirish huquqi mavjud.
Biror rolni tanlab jarayonni davom ettirishingiz mumkin</p>

        {% if user.role == "student" %}
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'student'  student_pk=user.pk %}" role="button">STUDENT</a>
            </p>
        {% endif %}

        {% if user.role == "manager" %}
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'manager'  manager_pk=user.pk %}" role="button">MANAGER</a>
            </p>
        {% endif %}

        {% if user.role == "family" %}
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="" role="button">FAMILY</a>
            </p>
        {% endif %}


    </div>

{% endblock content %}