{% extends 'base.html' %}
{% load static %}

{% block title %}{{ student.full_name }}{% endblock title %}

{% block content %}
    <br/>
    <hr><center><h3>Unconfirmed reports</h3></center> <br>
    {% if unreports %}
        <ul>
        {% for unreport in unreports %}
            <p>
                 <a href="{% url 'student_report_detail' student_pk=student.pk report_pk=unreport.pk %}"> <b style="color: #0a58ca"> {{ unreport.created_at }}</b> </a>
                    count: <b>{{ unreport.count }}</b>,  book: <b>{{ unreport.book }}</b>, comment: <b>{{ unreport.comment }}</b>, similarity: <b>{{ unreport.similarity }} %</b>
            </p>
            <hr>
        {% endfor %}
        </ul>
        {% else %}
        No unconfirmed reports
    {% endif %}

        <hr><center><h3>Yangi yaratish</h3></center> <br>

    <div class="jumbotron" style="background-color:darkgray">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
        <br>
        <br>
    <input type="submit" value="Hisobot qo`shish">
    </form>
    </div>

    <hr><center><h3>Confirmed reports</h3></center> <br>
        <ul>
    {% for report in reports %}
    <p>
         <a href="{% url 'student_report_detail' student_pk=student.pk report_pk=report.pk %}"> <b style="color: #0a58ca"> {{ report.created_at }}
        </b> </a>    count: <b>{{ report.count }}</b>,  book: <b>{{ report.book }}</b>, comment: <b>{{ report.comment }}</b>, similarity: <b>{{ report.similarity }} %</b>
    </p>
        <hr>
    {% endfor %}
    </ul>
    <br>
    <a class="btn btn-info" href="{% url 'student' student_pk=student.pk %}" role="button">Kabinetga qaytish</a>


{% endblock content %}