{% extends 'base.html' %}
{% load static %}

{% block title %}{{ student.full_name }}{% endblock title %}

{% block content %}
    <br/>


        <hr><center><h3>Yangi yaratish</h3></center> <br>

    <div class="jumbotron" style="background-color:darkgray">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
        <br>
        <br>
    <input type="submit" value="Hisobot qo`shish">
    </form>
    </div>

    <hr><center><h3>Hisobotlar</h3></center> <br>
        <ul>
    {% for report in reports %}
    <p>
        <b style="color: #0a58ca"> {{ report.created_at }} </b>  SONI: {{ report.count }},  KITOB: {{ report.book }}, IZOH: {{ report.comment }}
    </p>
        <hr>
    {% endfor %}
    </ul>
    <br>
    <a class="btn btn-info" href="{% url 'student' student_pk=student.pk %}" role="button">Kabinetga qaytish</a>


{% endblock content %}